<p> <%= @recipeid.name %> </p>
<p> <%= @recipeid.difficulty %> </p>
<p> <%= @recipeid.cooking_time_in_minutes %> </p>
<p> <%= @recipeid.author %> </p>
<p> <%= @recipeid.price_in_cents %> </p>
<p> <%= @recipeid.ingredients %> </p>
<p> <%= @recipeid.photo %> </p>
